<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".txt" mimeType="text/plain" />
            <mimeMap fileExtension=".exe" mimeType="application/octet-stream" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET" />
            </customHeaders>
        </httpProtocol>
        <caching>
            <profiles>
                <add extension=".txt" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>